#  Data Analysis on india_vehicle_sales_q1_2025_Dataset

## Dataset Information

### Columns of the dataset
Sales_ID (int) – Unique identifier for each sale entry.

Sale_Date (object/string) – Date on which the sale occurred.

Vehicle_Type (object) – Category of vehicle sold (e.g., Car, SUV, Scooter).

Price_Range (object) – Pricing category like Entry-Level or Premium.

Sales_Volume (int) – Number of units sold in a transaction or grouping.

Region (object) – Urban, Semi-Urban, or Rural classification.

State (object) – Indian state where the sale was recorded.

Income_Level (object) – Socioeconomic classification (Low, Medium, High).

Monsoon_Index (float) – Rainfall-related index impacting sales.

Repo_Rate (float) – Interest rate at the time of sale.

Inventory_Days (int) – Days the vehicle stayed in inventory before sale.

Export_Flag (bool) – Indicates whether the vehicle was exported.

Export_Region (object) – Destination region for export (if applicable).

Fuel_Type (object) – Type of fuel used (e.g., Petrol, Diesel, EV, Hybrid).

Emission_Norm (object) – Emission compliance level (e.g., BS6).

Discount_Percentage (float) – Discount offered during sale.

Consumer_Sentiment (float) – Consumer confidence index at time of sale.

Supply_Chain_Disruption (bool) – Whether supply chain issues were present.

Festive_Season (bool) – Indicates if the sale occurred during a festive period.

Vehicle_Model (object) – Model name of the vehicle sold.

### IMPORT THE REQUIERED LIBRARIES

In [14]:
import numpy
print(numpy.__version__)

2.2.6

In [26]:
!where python   # (Windows)
!pip install numpy

C:\ProgramData\anaconda3\python.exe
C:\Users\Admin\anaconda3\python.exe
C:\Users\Admin\AppData\Local\Microsoft\WindowsApps\python.exe

INFO: Could not find "#".
INFO: Could not find "(Windows)".

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\admin\appdata\roaming\python\python312\site-packages (2.2.6)

In [27]:
# IMPORT PANDAS 
import pandas as pd

# IMPORT NUMPY
import numpy as np

# IMPORT MATPLOTLIB
import matplotlib.pyplot as plt

# IMPORT SEABORN
import seaborn as sns

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.6 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\ProgramData\anaconda3\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "C:\ProgramData\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "C:\ProgramData\anaconda3\Lib\asyncio\windows_events.py", line 322, in run_forever
    super().run_forever()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 1986, in _run_once
    handle._run()
  File "C:\ProgramData\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Admin\AppData\Local\Temp\ipykernel_5884\575386198.py", line 2, in <module>
    import pandas as pd
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\api.py", line 1, in <module>
    from pandas._libs import (
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\_libs\__init__.py", line 17, in <module>
    import pandas._libs.pandas_datetime  # noqa: F401 # isort: skip # type: ignore[reportUnusedImport]

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.6 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

ImportError: numpy.core.multiarray failed to import

### LOAD THE DATA SET

In [6]:
# Read the dataset file into a table (DataFrame) 
df_india_vehicle_sales_q1_2025 = pd.read_csv('india_vehicle_sales_q1_2025.csv')

NameError: name 'pd' is not defined

### DATA OVERVIEW

In [ ]:
# SHOW FIRST 5 OBSERVATION OF DATA
df_india_vehicle_sales_q1_2025.head()

In [ ]:
# SHOW LAST 5 OBSERVATION OF DATA
df_india_vehicle_sales_q1_2025.tail()

In [ ]:
# SHOW THE SHAPE OF THE DATA 
df_india_vehicle_sales_q1_2025.shape

**INTERPRITATION**
- We have **10860 Observation** (rows)
- We have **20 attributes** (columns)

In [ ]:
# SHOW THE BASIC INFO OF THE DATA
df_india_vehicle_sales_q1_2025.info()

**INTERPRETATION**
 - We have total **7 numarical columns** and **13 categorical columns**
 - **Memory usage** is **1.4+ MB** we do not required extra resoures

In [ ]:
# JUSTIFIY THE BAISC STATISTIC OF THE DATA
df_india_vehicle_sales_q1_2025.describe().T

**INTERPRETATION**
 - From comparing the mean and median we get outlier may be present in **Sales_Volume**

In [ ]:
# Define Function to Remove Outliers Using IQR
# Create a function to remove outliers based on the IQR method.
def remove_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)  # 25th percentile
    Q3 = data[column].quantile(0.75)  # 75th percentile
    IQR = Q3 - Q1  # Interquartile range
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    # Keep only the rows where the column value is within the bounds
    data_cleaned = data[(data[column] >= lower_bound) & (data[column] <= upper_bound)]
    return data_cleaned

# Remove Outliers - Sales_Volume
# Remove outliers from Sales_Volume and update the DataFrame.
df_india_vehicle_sales_q1_2025 = remove_outliers_iqr(df_india_vehicle_sales_q1_2025, 'Sales_Volume')


# Verify Removal
# Check the updated DataFrame size to confirm outliers are removed.
print("Original Number of Rows:", pd.read_csv('india_vehicle_sales_q1_2025.csv').shape[0])
print("Rows After Outlier Removal:", df_india_vehicle_sales_q1_2025.shape[0])

In [ ]:
# JUSTIFIY THE BAISC STATISTIC OF THE DATA
df_india_vehicle_sales_q1_2025.describe().T

In [ ]:
# Define Function to Remove Outliers Using IQR
# Create a function to remove outliers based on the IQR method.
def remove_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)  # 25th percentile
    Q3 = data[column].quantile(0.75)  # 75th percentile
    IQR = Q3 - Q1  # Interquartile range
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    # Keep only the rows where the column value is within the bounds
    data_cleaned = data[(data[column] >= lower_bound) & (data[column] <= upper_bound)]
    return data_cleaned

# Remove Outliers - Sales_Volume
# Remove outliers from Sales_Volume and update the DataFrame.
df_india_vehicle_sales_q1_2025 = remove_outliers_iqr(df_india_vehicle_sales_q1_2025, 'Sales_Volume')

# Remove Outliers - Sales_ID
# Remove outliers from Sales_ID and update the DataFrame.
df_india_vehicle_sales_q1_2025 = remove_outliers_iqr(df_india_vehicle_sales_q1_2025, 'Sales_ID')

# Verify Removal
# Check the updated DataFrame size to confirm outliers are removed.
print("Original Number of Rows:", pd.read_csv('india_vehicle_sales_q1_2025.csv').shape[0])
print("Rows After Outlier Removal:", df_india_vehicle_sales_q1_2025.shape[0])

In [ ]:
# JUSTIFIY THE BAISC STATISTIC OF THE DATA
df_india_vehicle_sales_q1_2025.describe().T

## DATA PRE-PROCESSING

## Null value Handling

In [ ]:
# NULL VALUE HANDLING
# SHOW THE COUNT OF NULL RECORDS IN THE DATA 
df_india_vehicle_sales_q1_2025.isnull().sum()

**INTERPRETATION**
 - In the data we don't have null records

# EDA (Exploratory Data Analysis)

In [ ]:
# SEGREGATE THE DATA BASED ON DATATYPE
df_num = df_india_vehicle_sales_q1_2025.select_dtypes(include = 'number') #NUMERICAL DATA FRAME
df_cat = df_india_vehicle_sales_q1_2025.select_dtypes(include = 'object') #CATAGORICAL DATA FRAME

In [ ]:
# SHOW THE FIRST FIVE OBSERVATION OF NUMERICAL DATA 
df_num.head()

In [ ]:
# SHOW THE FIRST FIVE OBSERVATION OF CATAGORICAL DATA 
df_cat.head()

## UNIVIRIATE ANALYSIS

### NUMERICAL COLUMNS

In [ ]:
# SHOW THE NUMERICAL COLUMNS
df_num.columns

### Sales_ID

In [ ]:
# SHOW THE MINIMUM
df_num.Sales_ID.min()

In [ ]:
# SHOW THE MAXIMUM
df_num.Sales_ID.max()

In [ ]:
# SHOW THE AVARAGE
round(df_num.Sales_ID.mean(),3)

In [ ]:
# SHOW THE DISTRIBUTION OF THE SINGLE NUMERICAL COLUMN
df_num.Sales_ID.plot(kind = 'kde', color = 'magenta') # KERANAL DENSITY PLOT
plt.grid()
plt.title('DISTRIBUTION OF Sales_ID')
plt.show()

### INTERPRETATION ###
 - THE **MAXIMUM VALUE** OF **Sales_ID** IS **1**
 - THE **MINIMUM VALUE** OF **Sales_ID** IS **10860**
 - THE **AVARAGE VALUE** OF **Sales_ID** IS **5464.236**
 - WE HAVE **DATA RANGE** OF **Sales_ID** IS BETWEEN **-2000 TO 12500**

In [ ]:
# SHOW THE NUMERICAL COLUMNS
df_num.columns

### Sales_Volume

In [ ]:
# SHOW THE MINIMUM
df_num.Sales_Volume.min()

In [ ]:
# SHOW THE MAXIMUM
df_num.Sales_Volume.max()

In [ ]:
# SHOW THE AVARAGE
round(df_num.Sales_Volume.mean(),3)

In [ ]:
# SHOW THE DISTRIBUTION OF THE SINGLE NUMERICAL COLUMN
df_num.Sales_Volume.plot(kind = 'kde', color = 'magenta') # KERANAL DENSITY PLOT
plt.grid()
plt.title('DISTRIBUTION OF Sales_Volume')
plt.show()

### INTERPRETATION ###
 - THE **MAXIMUM VALUE** OF **Sales_Volume** IS **6**
 - THE **MINIMUM VALUE** OF **Sales_Volume** IS **529**
 - THE **AVARAGE VALUE** OF **Sales_Volume** IS **188.57**
 - WE HAVE **DATA RANGE** OF **Sales_Volume** IS BETWEEN **-50 to 580**

In [ ]:
# SHOW THE NUMERICAL COLUMNS
df_num.columns

### Monsoon_Index

In [ ]:
# SHOW THE MINIMUM
df_num.Monsoon_Index.min()

In [ ]:
# SHOW THE MAXIMUM
df_num.Monsoon_Index.max()

In [ ]:
# SHOW THE AVARAGE
round(df_num.Monsoon_Index.mean(),3)

In [ ]:
# SHOW THE DISTRIBUTION OF THE SINGLE NUMERICAL COLUMN
df_num.Monsoon_Index.plot(kind = 'kde', color = 'magenta') # KERANAL DENSITY PLOT
plt.grid()
plt.title('DISTRIBUTION OF Monsoon_Index')
plt.show()

### INTERPRETATION ###
 - THE **MAXIMUM VALUE** OF **Monsoon_Index** IS **50.08**
 - THE **MINIMUM VALUE** OF **Monsoon_Index** IS **99.99**
 - THE **AVARAGE VALUE** OF **Monsoon_Index** IS **74.731**
 - WE HAVE **DATA RANGE** OF **Monsoon_Index** IS BETWEEN **45 TO 105**

In [ ]:
# SHOW THE NUMERICAL COLUMNS
df_num.columns

### Repo_Rate

In [ ]:
# SHOW THE MINIMUM
df_num.Repo_Rate.min()

In [ ]:
# SHOW THE MAXIMUM
df_num.Repo_Rate.max()

In [ ]:
# SHOW THE AVARAGE
round(df_num.Repo_Rate.mean(),3)

In [ ]:
# SHOW THE DISTRIBUTION OF THE SINGLE NUMERICAL COLUMN
df_num.Repo_Rate.plot(kind = 'kde', color = 'magenta') # KERANAL DENSITY PLOT
plt.grid()
plt.title('DISTRIBUTION OF Repo_Rate')
plt.show()

### INTERPRETATION ###
 - THE **MAXIMUM VALUE** OF **Repo_Rate** IS **3.36**
 - THE **MINIMUM VALUE** OF **Repo_Rate** IS **5.96**
 - THE **AVARAGE VALUE** OF **Repo_Rate** IS **4.762**
 - WE HAVE **DATA RANGE** OF **Repo_Rate** IS BETWEEN **3.5 TO 6**

In [ ]:
# SHOW THE NUMERICAL COLUMNS
df_num.columns

### Inventory_Days

In [ ]:
# SHOW THE MINIMUM
df_num.Inventory_Days.min()

In [ ]:
# SHOW THE MAXIMUM
df_num.Inventory_Days.max()

In [ ]:
# SHOW THE AVARAGE
round(df_num.Inventory_Days.mean(),3)

In [ ]:
# SHOW THE DISTRIBUTION OF THE SINGLE NUMERICAL COLUMN
df_num.Inventory_Days.plot(kind = 'kde', color = 'magenta') # KERANAL DENSITY PLOT
plt.grid()
plt.title('DISTRIBUTION OF Inventory_Days')
plt.show()

### INTERPRETATION ###
 - THE **MAXIMUM VALUE** OF **Inventory_Days** IS **10**
 - THE **MINIMUM VALUE** OF **Inventory_Days** IS **99**
 - THE **AVARAGE VALUE** OF **Inventory_Days** IS **52.336**
 - WE HAVE **DATA RANGE** OF **Inventory_Days** IS BETWEEN **0 TO 112**

In [ ]:
# SHOW THE NUMERICAL COLUMNS
df_num.columns

### Discount_Percentage

In [ ]:
# SHOW THE MINIMUM
df_num.Discount_Percentage.min()

In [ ]:
# SHOW THE MAXIMUM
df_num.Discount_Percentage.max()

In [ ]:
# SHOW THE AVARAGE
round(df_num.Discount_Percentage.mean(),3)

In [ ]:
# SHOW THE DISTRIBUTION OF THE SINGLE NUMERICAL COLUMN
df_num.Discount_Percentage.plot(kind = 'kde', color = 'magenta') # KERANAL DENSITY PLOT
plt.grid()
plt.title('DISTRIBUTION OF Discount_Percentage')
plt.show()

### INTERPRETATION ###
 - THE **MAXIMUM VALUE** OF **Discount_Percentage** IS **0.01**
 - THE **MINIMUM VALUE** OF **Discount_Percentage** IS **19.93**
 - THE **AVARAGE VALUE** OF **Discount_Percentage** IS **9.106**
 - WE HAVE **DATA RANGE** OF **Discount_Percentage** IS BETWEEN **-3 TO 23**

In [ ]:
# SHOW THE NUMERICAL COLUMNS
df_num.columns

### Consumer_Sentiment

In [ ]:
# SHOW THE MINIMUM
df_num.Consumer_Sentiment.min()

In [ ]:
# SHOW THE MAXIMUM
df_num.Consumer_Sentiment.max()

In [ ]:
# SHOW THE AVARAGE
round(df_num.Consumer_Sentiment.mean(),3)

In [ ]:
# SHOW THE DISTRIBUTION OF THE SINGLE NUMERICAL COLUMN
df_num.Consumer_Sentiment.plot(kind = 'kde', color = 'magenta') # KERANAL DENSITY PLOT
plt.grid()
plt.title('DISTRIBUTION OF Consumer_Sentiment')
plt.show()

### INTERPRETATION ###
 - THE **MAXIMUM VALUE** OF **Consumer_Sentiment** IS **30**
 - THE **MINIMUM VALUE** OF **Consumer_Sentiment** IS **69.99**
 - THE **AVARAGE VALUE** OF **Consumer_Sentiment** IS **50.067**
 - WE HAVE **DATA RANGE** OF **Consumer_Sentiment** IS BETWEEN **25 TO 75**

### CATEGORICAL DATA

In [ ]:
# SHOW THE FIRST FIVE OBSERVATION OF CATEGORICAL DATA 
df_cat.head()

In [ ]:
# SHOW THE COLUMNS
df_cat.columns

### Sale_Date

In [ ]:
# Check the categories present in categorical columns (Indusrty)
df_cat.Sale_Date.value_counts()

In [ ]:
# SHOW THE COLUMNS
df_cat.columns

### Vehicle_Type

In [ ]:
# Check the categories present in categorical columns (Indusrty)
df_cat.Sale_Date.value_counts()

In [ ]:
# Check how many unique customers there are and see sample IDs.
print("Unique Vehicle_Type:", df_india_vehicle_sales_q1_2025['Vehicle_Type'].nunique())
print("Sample Vehicle_Type:", df_india_vehicle_sales_q1_2025['Vehicle_Type'].head().tolist())

In [ ]:
# SHOW THE PLOT
df_cat.Vehicle_Type.value_counts().plot(kind = 'bar', color = 'magenta')
plt.grid()
plt.title('COUNT OF Vehicle_Type')
plt.ylabel('Count')
plt.xticks(rotation=360)
plt.show()

**Interpretation**
 - By observing the graph we get to know that,
 - Motorcycle     750
 - SUV            590
 - Scooter        580
 - Passenger Car  490

In [ ]:
# SHOW THE COLUMNS
df_cat.columns

### Price_Range

In [ ]:
# Check the categories present in categorical columns (Indusrty)
df_cat.Price_Range.value_counts()

In [ ]:
# SHOW THE PLOT
df_cat.Price_Range.value_counts().plot(kind = 'bar', color = 'magenta')
plt.grid()
plt.title('COUNT OF Price_Range')
plt.ylabel('Count')
plt.xticks(rotation=360)
plt.show()

**Interpretation**
 - By observing the graph we get to know that,
 - Entry-Level 1290
 - Mid-Range   850
 - Premium     250

In [ ]:
# SHOW THE COLUMNS
df_cat.columns

### Region

In [ ]:
# Check the categories present in categorical columns (Indusrty)
df_cat.Region.value_counts()

In [ ]:
# SHOW THE PLOT
df_cat.Region.value_counts().plot(kind = 'bar', color = 'magenta')
plt.grid()
plt.title('COUNT OF Region')
plt.ylabel('Count')
plt.xticks(rotation=360)
plt.show()

**Interpretation**
 - By observing the graph we get to know that,
 - Region  2400

In [ ]:
# SHOW THE COLUMNS
df_cat.columns

### State

In [ ]:
# Check the categories present in categorical columns (Indusrty)
df_cat.State.value_counts()

In [ ]:
# SHOW THE PLOT
df_cat.State.value_counts().plot(kind = 'bar', color = 'magenta')
plt.grid()
plt.title('COUNT OF State')
plt.ylabel('Count')
plt.xticks(rotation=60)
plt.show()

In [ ]:
# SHOW THE COLUMNS
df_cat.columns

### Income_Level

In [ ]:
# Check the categories present in categorical columns (Indusrty)
df_cat.Income_Level.value_counts()

In [ ]:
# SHOW THE PLOT
df_cat.Income_Level.value_counts().plot(kind = 'bar', color = 'magenta')
plt.grid()
plt.title('COUNT OF Income_Level')
plt.ylabel('Count')
plt.xticks(rotation=360)
plt.show()

**Interpretation**
 - By observing the graph we get to know that,
 - Low     1250
 - Medium  1050
 - High    150

In [ ]:
# SHOW THE COLUMNS
df_cat.columns

### Export_Region

In [ ]:
# Check the categories present in categorical columns (Indusrty)
df_cat.Export_Region.value_counts()

In [ ]:
# SHOW THE PLOT
df_cat.Export_Region.value_counts().plot(kind = 'bar', color = 'magenta')
plt.grid()
plt.title('COUNT OF Export_Region')
plt.ylabel('Count')
plt.xticks(rotation=360)
plt.show()

**Interpretation**
 - By observing the graph we get to know that,
 - Japan         119
 - Middle East   115
 - Latin America 110
 - Others        105

In [ ]:
# SHOW THE COLUMNS
df_cat.columns

### Fuel_Type

In [ ]:
# Check the categories present in categorical columns (Indusrty)
df_cat.Fuel_Type.value_counts()

In [ ]:
# SHOW THE PLOT
df_cat.Fuel_Type.value_counts().plot(kind = 'bar', color = 'magenta')
plt.grid()
plt.title('COUNT OF Fuel_Type')
plt.ylabel('Count')
plt.xticks(rotation=360)
plt.show()

**Interpretation**
 - By observing the graph we get to know that,
 - Petrol   1300
 - Diesel   610
 - Electric 290
 - Hybrid   205

In [ ]:
# SHOW THE COLUMNS
df_cat.columns

### Emission_Norm

In [ ]:
# Check the categories present in categorical columns (Indusrty)
df_cat.Emission_Norm.value_counts()

In [ ]:
# SHOW THE PLOT
df_cat.Emission_Norm.value_counts().plot(kind = 'bar', color = 'magenta')
plt.grid()
plt.title('COUNT OF Emission_Norm')
plt.ylabel('Count')
plt.xticks(rotation=360)
plt.show()

**Interpretation**
 - By observing the graph we get to know that,
 - BS6 2400
 - BS4 50

In [ ]:
# SHOW THE COLUMNS
df_cat.columns

### Vehicle_Model

In [ ]:
# Check the categories present in categorical columns (Indusrty)
df_cat.Vehicle_Model.value_counts()

In [ ]:
# Check how many unique customers there are and see sample IDs.
print("Unique Vehicle_Type:", df_india_vehicle_sales_q1_2025['Vehicle_Type'].nunique())
print("Sample Vehicle_Type:", df_india_vehicle_sales_q1_2025['Vehicle_Type'].head().tolist())

In [ ]:
# SHOW THE PLOT
df_cat.Vehicle_Model.value_counts().plot(kind = 'bar', color = 'magenta')
plt.grid()
plt.title('COUNT OF Vehicle_Model')
plt.ylabel('Count')
plt.xticks(rotation=80)
plt.show()

## BIVARIATE ANALYSIS

In [ ]:
# SHOW THE FIRST FIVE OBSERVATION OF THE MAIN DATA 
df_india_vehicle_sales_q1_2025.head()

In [ ]:
# FOR FINDING THE PAIRS WE NEED TO DRAW CORRELATION MATRIX
df_num.corr()

In [ ]:
df_num.columns

In [ ]:
df_cat.columns

## Bivariate Analysis On Two Numerical Columns

### Sales_ID vs Sales_Volume

In [ ]:
# PLOT A SCATTER PLOT BETWEEN Sales_ID vs Sales_Volume
sns.scatterplot(data=df_india_vehicle_sales_q1_2025, x='Sales_ID', y='Sales_Volume')
plt.title('Sales_ID vs Sales_Volume')
plt.xlabel('Sales_ID')
plt.ylabel('Sales_Volume')
plt.show()

**Interpretattion**
 - Scatter plot shows Sales_ID vs Sales_Value.

## Bivariatre Analysis On One Numerical and One Categorical Columns

### Monsoon_Index vs Customer_Type

In [ ]:
# PLOT A SCATTER PLOT BETWEEN Monsoon_Index vs Price_Range
sns.boxplot(data=df_india_vehicle_sales_q1_2025, x='Price_Range', y='Monsoon_Index')
plt.title('Monsoon_Index by Price_Range')
plt.xlabel('Price_Range')
plt.ylabel('Monsoon_Index')
plt.show()

**Interpretattion**
 - Box plot shows Monsoon_Index by Price_Range

### Repo_Rate vs Income_Level

In [ ]:
# PLOT A SCATTER PLOT BETWEEN Repo_Rate vs Delivery_Type 
sns.boxplot(data=df_india_vehicle_sales_q1_2025, x='Income_Level', y='Repo_Rate')
plt.title('Repo_Rate by Income_Level')
plt.xlabel('Income_Level')
plt.ylabel('Repo_Rate')
plt.show()

**Interpretattion**
 - Box plot shows Repo_Rate by Income_Level

### Discount_Percentage vs Price_Range

In [ ]:
# PLOT A SCATTER PLOT BETWEEN Discount_Percentage vs Price_Range 
sns.countplot(data=df_india_vehicle_sales_q1_2025, x='Price_Range', hue='Discount_Percentage')
plt.title('Returns by Price_Range')
plt.xlabel('Price_Range')
plt.ylabel('Discount_Percentage')
plt.xticks(rotation=360)
plt.show()

**Interpretattion**
 - Stacked bar plot shows Returns by Price_Range

## MULTIVARITAE ANAYLSIS - Correlation Matrix

In [ ]:
# Check how numerical columns (e.g., Delivery_Time, Order_Value) relate to each other.
numerical_cols = ['Sales_ID', 'Sales_Volume', 'Monsoon_Index', 'Repo_Rate',
       'Inventory_Days', 'Discount_Percentage', 'Consumer_Sentiment']
plt.figure(figsize=(10, 8))
sns.heatmap(df_india_vehicle_sales_q1_2025[numerical_cols].corr(), annot=True, cmap='coolwarm')
plt.title('Correlation Between Numbers')
plt.show()

**Interpretation**
 - Heatmap shows numbers from -1 to 1.

In [ ]:
df_num.columns

In [ ]:
df_cat.columns

### Monsoon_Index by Region and Platform

In [ ]:
# See how Monsoon_Index changes by Region and Price_Range
sns.boxplot(data=df_india_vehicle_sales_q1_2025, x='Region', y='Monsoon_Index', hue='Price_Range')
plt.title('Monsoon_Index by Region and Price_Range')
plt.xlabel('Region')
plt.ylabel('Monsoon_Index')
plt.xticks(rotation=360)
plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left')
plt.tight_layout()
plt.show()

**Interpretation**
 - Box plot shows Monsoon_Index by Region and Price_Range

# Target Variable

In [ ]:
df_india_vehicle_sales_q1_2025.head()

In [ ]:
# After discussion we decided to take salary as our target variable (Depentdent variable)
target = df_india_vehicle_sales_q1_2025.Monsoon_Index

# After storing this variable into target we have to remove it from the main dataframe (Indepentdent variable)
df_india_vehicle_sales_q1_2025 = df_india_vehicle_sales_q1_2025.drop('Monsoon_Index', axis = 1 )

## Prepare the Data for Machine Learning

### Perform Encoding on categorical columns

In [ ]:
# Perform encoding(One Hot Encoding) 
df_encoded = pd.get_dummies(df_cat)

In [ ]:
# Check the encoded data 
df_encoded.head()

In [ ]:
# Chech the dataframe to decide a target variable
df_india_vehicle_sales_q1_2025.head()

In [ ]:
# After discussion we decided to take salary as our target variable (Depentdent variable)
target = df_india_vehicle_sales_q1_2025.Sales_Volume	

# After storing this variable into target we have to remove it from the main dataframe (Indepentdent variable)
df_india_vehicle_sales_q1_2025 = df_india_vehicle_sales_q1_2025.drop('Sales_Volume	', axis = 1 )

In [ ]:
#Step 1: Sedregate the data based on data type
df_num = df_indian_non_metro_jobs_dataset.select_dtypes(include = 'number')

#Step 2: Make the seperate dataframe for catgorical columns 
df_cat = df_indian_non_metro_jobs_dataset.select_dtypes(include = 'object')

### Scale the numerical variables

In [ ]:
# Import standart scaler-sub package of performing the scaling
from sklearn.preprocessing import StandardScaler

In [ ]:
# Inciate the Standard Scaler 
ss = StandardScaler()

In [ ]:
# Transfor the numerical variables 
scale = ss.fit_transform(df_num)


# Space check tranform data
scale

In [ ]:
# Create a new dataframe for scaled data
df_scale = pd.DataFrame(scale,columns=df_num.columns)

In [ ]:
# Check the scaled dataframe 
df_scale.head()

### Concatenate both the encoded and scaled dataframe

In [ ]:
# Do the concatenation 
X = pd.concat([df_encoded,df_scale] , axis=1)

#Check the concatenated data
X.head()

## Now split the data into Training seat and Testing set

In [ ]:
# Import the train test split
from sklearn.model_selection import train_test_split

In [ ]:
# Verify shapes
print("Shape of X:", X.shape)
print("Shape of target:", target.shape)

## Find the base Machine Learning Algorithm

### Linear Regression

In [ ]:
# Import linear regression algorithm and evalutaion matrix 
from sklearn.linear_model import LinearRegression 

# Here we are using MSE as evaluation matrix
from sklearn.metrics import mean_squared_error

In [ ]:
# Create a Linear Regression Model
model = LinearRegression()

In [ ]:
# Fit the model to training data
model.fit(X_train,y_train)

In [ ]:
#Predict the testing data 
predicitions = model.predict(X_test)

In [ ]:
# Caluculate the mean squared error
mse = mean_squared_error(y_test,predicitions)
print("Mean squared Error",mse)

In [ ]:
### Rigid Model

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Ridge regression model
ridge_model = Ridge(alpha=1.0)  # alpha is the regularization strength

# Fit the model to the training data
ridge_model.fit(X_train, y_train)

# Predict on the testing data
predictions = ridge_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

In [ ]:
### Lasso Model

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Lasso regression model
lasso_model = Lasso(alpha=1.0)  # alpha is the regularization strength

# Fit the model to the training data
lasso_model.fit(X_train, y_train)

# Predict on the testing data
predictions = lasso_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

In [ ]:
### Decision tree model

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Decision Tree regression model
tree_model = DecisionTreeRegressor()

# Fit the model to the training data
tree_model.fit(X_train, y_train)

# Predict on the testing data
predictions = tree_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

In [ ]:
### Random forest regressor

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Random Forest regression model
forest_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Fit the model to the training data
forest_model.fit(X_train, y_train)

# Predict on the testing data
predictions = forest_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

In [ ]:
### SVR

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score

# Define the Random Forest model
rf = RandomForestRegressor(random_state=42)

# Define the hyperparameter grid
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [10, 20, 30, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2']
}

# Perform GridSearchCV for hyperparameter tuning
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, 
                           cv=5, scoring='neg_mean_squared_error', 
                           n_jobs=-1, verbose=2)

# Fit the model
grid_search.fit(X_train, y_train)

# Get the best parameters and model
best_params = grid_search.best_params_
best_rf = grid_search.best_estimator_

# Predict on the test set
y_pred = best_rf.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Best Hyperparameters:", best_params)
print("Test MSE:", mse)
print("Test R²:", r2)

# Feature importance
feature_importance = pd.DataFrame({
    'Feature': X.columns,
    'Importance': best_rf.feature_importances_
}).sort_values(by='Importance', ascending=False)

print("\nFeature Importance:")
print(feature_importance)

In [ ]:
from sklearn.model_selection import KFold
# Set up k-fold cross-validation (e.g., k=5)
k = 5
kf = KFold(n_splits=k, shuffle=True, random_state=42)

# Lists to store metrics for each fold
mse_scores = []
r2_scores = []

# Perform k-fold cross-validation
for fold, (train_index, test_index) in enumerate(kf.split(X), 1):
    # Split data into training and test sets for this fold
    X_train, X_test = X_train.iloc[train_index], X_train.iloc[test_index]
    y_train, y_test = y_train.iloc[train_index], y_train.iloc[test_index]

    # Train the model
    rf.fit(X_train, y_train)

    # Predict on the test set
    y_pred = rf.predict(X_test)

    # Calculate metrics
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)

    # Store metrics
    mse_scores.append(mse)
    r2_scores.append(r2)

    print(f"Fold {fold} - MSE: {mse:.2f}, R²: {r2:.4f}")

# Calculate mean and standard deviation of metrics
mean_mse = np.mean(mse_scores)
std_mse = np.std(mse_scores)
mean_r2 = np.mean(r2_scores)
std_r2 = np.std(r2_scores)

print("\nK-Fold Cross-Validation Results (k={})".format(k))
print(f"Mean MSE: {mean_mse:.2f} (± {std_mse:.2f})")
print(f"Mean R²: {mean_r2:.4f} (± {std_r2:.4f})")

# Train the model on the full dataset to get feature importance
rf.fit(X, y)
feature_importance = pd.DataFrame({
    'Feature': X.columns,
    'Importance': rf.feature_importances_
}).sort_values(by='Importance', ascending=False)

print("\nFeature Importance:")
print(feature_importance)

In [ ]:
### Feature selaction for base algorithem

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFE
from sklearn.metrics import mean_squared_error, r2_score

# Step 1: Initialize the model
rf_model = RandomForestRegressor(random_state=42)

# Step 2: Set up RFE
# You can specify the number of features to select (e.g., 5 or len(X_train.columns)//2)
n_features_to_select = 100  # Change as needed
rfe = RFE(estimator=rf_model, n_features_to_select=n_features_to_select)

# Step 3: Fit RFE on training data
rfe.fit(X_train, y_train)

# Step 4: Get selected features
selected_features = X_train.columns[rfe.support_]
print("Selected Features:", list(selected_features))

# Step 5: Train model on selected features
rf_model.fit(X_train[selected_features], y_train)

# Step 6: Predict on test set using selected features
y_pred = rf_model.predict(X_test[selected_features])

# Step 7: Evaluate
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R^2 Score:", r2)

In [ ]:
import joblib

#Assuming 'rf' is your trained model
joblib.dump(rf,'model.pkl')

In [ ]:
import streamlit as st
import joblib
import numpy as np

# Load the trained model
model = joblib.load('model.pkl')

st.title("Random Forest Regression Predictor")

# Example: Assume you need 10 features as input
inputs = []
for i in range(100):
    val = st.number_input(f"Feature {i+1}", value=0.0)
    inputs.append(val)

if st.button("Predict"):
    prediction = model.predict([inputs])
    st.success(f"Predicted Output: {prediction[0]}")